#body{
    width: 100% !important;
    height: 100% !important;
}

@font-face{
    font-family: "Lato";
    src: url("./fonts/Lato.ttf");
}

#html-body{
    width: 1000px !important;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: "Lato-Regular" !important;
}





